*

/* 
	Nome: Miguel Rodrigues;
	Numero de estudante: 3210828;
	Unidade curricular: Laboratório de Projeto II;
	Ano Letivo: 2023/2024;

*/

{
    background-color: black;
    margin:0px;
    padding: 0px;
}
/* No body procurei defenir as cores do texto e as margens do conteodo do portfolio*/
body
{
    color:white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;

    
    
}
/* No header procurei alinhar o mesmo ao centro mantendo uma margem superior e inferior do resto*/
header

{
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    
}

/* Utilizei o li para criar um espaçamento entre a lista dos elementos da nav*/
li,ul
{
    padding-left:1%;
    padding-right: 1%;
    display: inline;
}

/* Aqui defeni as cores e tamanho das ligações*/
a
{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 100%;

}

/* Aqui defeni as cores e tamanho das ligações quando se passa o rato por cima das messmas*/
a:hover
{
    text-decoration: none;
    color: gray;
    background-color: black;
    font-size: 102%;

}

main
{
    margin-top: 20px;
    margin-bottom: 20px;
    

}

footer
{
  
    margin-top: 10px;
    margin-bottom: 50px;
    
}



img
{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}



h1
{
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 500%;
}

h2
{
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 400%;
    
}
    

h3
{
    display: inline;
    font-size: 200%;
}
/* Alterei o tipo de letra para diferencias os blocos de texto do titulos e da nav*/
p
{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    justify-content:flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 130%;
}

hr
{
    margin-top: 5px;
    margin-bottom: 5px;
}

section
{
    
    column-count:2;
    margin-top: 20px;
    padding-bottom: 20px;

}   


body 
{
  /*background-color: gray;*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{
  body 
  {
    /*background-color: red;*/
  }

  section 
  {
    column-count:1;
  }
  .contactos{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) 
{
  body 
  {
    /*background-color: green;*/
  }
  section 
  {
    column-count:1;
  }
  .contactos{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  body 
  {
    /*background-color: blue;*/
  }

  section 
  {
    column-count:2;
  }
 
  .contactos{
    display: flex;
    flex-direction: row;
    gap: 75px;
}

.contactos{
    padding-top: 15%;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  body 
  {
    /*background-color: white;*/
  }
}

.contactos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    padding: 1%;
    gap: 50px;
    
    
}

.icon{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
    
}

