*
{
    background-color: black;
    margin:0px;
    padding: 0px;
}

body
{
    color:white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    
}

header

{
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    
}

/* Utilizei o li para criar um espaçamento entre os elementos da nav*/
li
{
    padding-left:1%;
    padding-right: 1%;
    display: inline;
}


a
{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 100%;

}

a:hover
{
    text-decoration: none;
    color: gray;
    background-color: black;
    font-size: 110%;

}

main
{
    margin-top: 10px;
    margin-bottom: 10px;

}

footer
{
    margin-bottom: 10px;
}



img
{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

video
{
    width: 100%;
}

audio
{
    height: 10x;
    align-items: center;
}

h1
{
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 500%;
}

h2
{
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 400%;
    
}
    

h3
{
    display: inline;
    font-size: 200%;
}

p
{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 100%;
}

hr
{
    margin-top: 5px;
    margin-bottom: 5px;
}